Conduct analysis on the provided data to identify the characteristics of users who check out, and those who don't. 

1) Based on your analysis, what can you conclude about the behaviour or characteristics of users who complete check out vs those who do not?   
From the analysis below, it can be seen that:  
By device: Desktop users has more check out rate(28.5%) than Moblie(26%) and Tablet users(25%).   
By user sessions: session 4 and 5 has highest check out rate that is around 29%. And session 9 users has the lowest check out rate that is 24.7%   
2) How did you prepare your data for analysis? Describe your data cleaning and preparation approaches, and why these were the best choices.   
   
I initially used the info() and describe() functions to obtain a comprehensive overview of the entire dataset, including data types and missing values. Upon examination, I discovered that only the "location" and "devices" columns contained null values, as they were of the object data type. The number of missing data entries accounted for less than 10% of the total dataset. Consequently, the most appropriate approach for data cleaning was to utilize the dropna() method.

Following the completion of data cleaning, my focus shifted towards identifying factors that influenced the check-out rate. Through investigations involving locations, devices, and user sessions, significant differences were observed in relation to devices and user sessions.

Specifically, it became apparent that desktop users exhibited a higher check-out rate compared to other devices. Additionally, user sessions categorized as session 4 and 5 demonstrated a notably higher check-out rate when compared to the remaining sessions.

3) What recommendations do you have for the product team? What should they do next? Be specific (i.e., who should they target, why and how).  
I suggest product team focus on Desktop users because they are more likely to pay for money. For example, provide more cupons for pc users. Provide desktop users with better user experience such as optimize the shopping interface.
Also the product team can calculate the perferred products for a user session. To put ADs for specific user groups based on Big Data.

In [35]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
#from sklearn.decomposition import PCA
#from sklearn.preprocessing import StandardScaler

In [51]:
df = pd.read_csv(r'D:\5.MBAN6110 Data Science I\midterm_data.csv')

Data Cleaning

In [54]:
df.head(10)

,userID,age,sessions,time_spent,pages_visited,cart_items,cart_value,checkout_status,device,location
0,1,62,3,13.295129,2,20,199.21,0,Desktop,Location 1
1,2,65,2,21.686405,3,21,294.82,0,Desktop,Location 3
2,3,18,7,17.135220,4,23,240.87,0,Desktop,Location 4
3,4,21,9,29.589311,8,16,183.78,1,Desktop,Location 2
4,5,21,3,25.948584,4,10,59.51,1,Tablet,Location 4
5,6,57,9,36.061679,9,16,195.40,1,Desktop,Location 5
6,7,27,2,6.259057,1,14,116.28,0,Mobile,Location 2
7,8,37,8,28.509460,7,16,118.14,1,Desktop,Location 1
8,9,39,5,21.073814,7,25,175.00,0,Tablet,Location 1
9,10,54,5,28.689260,6,22,196.29,0,Desktop,Location 2

In userID to checkout_status column, all rows are valid.  
In device culumn, 4900 rows are valid.  100 rows missing, less than 10% then drop it.   
In location column, 4970 rows are valid.  30 rows missing, less than 10% then drop it.

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userID           5000 non-null   int64
 1   age              5000 non-null   int64
 2   sessions         5000 non-null   int64
 3   time_spent       5000 non-null   float64
 4   pages_visited    5000 non-null   int64
 5   cart_items       5000 non-null   int64
 6   cart_value       5000 non-null   float64
 7   checkout_status  5000 non-null   int64
 8   device           4900 non-null   object
 9   location         4970 non-null   object
dtypes: float64(2), int64(6), object(2)
memory usage: 390.8+ KB

drop useless column if any & set index if any

In [55]:
df.describe()

,userID,age,sessions,time_spent,pages_visited,cart_items,cart_value,checkout_status
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,2500.500000,41.538200,5.027200,25.158496,5.774400,14.966400,149.443146,0.272400
std,1443.520003,14.042734,2.594958,9.825536,2.570842,6.046336,68.711683,0.445239
min,1.000000,18.000000,1.000000,1.000000,1.000000,5.000000,20.410000,0.000000
25%,1250.750000,29.000000,3.000000,18.268862,4.000000,10.000000,92.482500,0.000000
50%,2500.500000,42.000000,5.000000,25.035361,6.000000,15.000000,143.440000,0.000000
75%,3750.250000,54.000000,7.000000,32.000361,8.000000,20.000000,198.380000,1.000000
max,5000.000000,65.000000,9.000000,90.000000,12.000000,25.000000,427.400000,1.000000

Use dropna() to drop any rows with null OBJECT value permanently.  
Assign effective rows to df2

In [57]:
df2 = df.dropna(axis=0, how="any", inplace=False)

129 rows are dropped, more than 97% data left.

In [58]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4871 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   userID           4871 non-null   int64
 1   age              4871 non-null   int64
 2   sessions         4871 non-null   int64
 3   time_spent       4871 non-null   float64
 4   pages_visited    4871 non-null   int64
 5   cart_items       4871 non-null   int64
 6   cart_value       4871 non-null   float64
 7   checkout_status  4871 non-null   int64
 8   device           4871 non-null   object
 9   location         4871 non-null   object
dtypes: float64(2), int64(6), object(2)
memory usage: 418.6+ KB

Test factors that may influence check-out rate

Group by locaiton, no noticeable difference on checout_status mean value.  
Because the checkout_status is 0 or 1, so the mean value actually represent the check out rate, which is count # of checked orders / total count

In [69]:
df2.groupby('location')[['time_spent','pages_visited','cart_items','cart_value','checkout_status']].mean()

            time_spent  pages_visited  cart_items  cart_value  checkout_status
location
Location 1   25.657852       5.840580   15.183230  152.872505         0.280538
Location 2   24.967337       5.752137   15.012821  149.232628         0.267094
Location 3   24.875527       5.702405   14.891784  147.684780         0.265531
Location 4   25.165525       5.785019   14.783074  147.568424         0.283074
Location 5   25.198461       5.809120   15.002121  150.127911         0.270414

In [78]:
# Count checkout status by location
checkout_counts = df2.groupby(['location', 'checkout_status']).size().reset_index(name='counts')

print(checkout_counts)

     location  checkout_status  counts
0  Location 1                0     695
1  Location 1                1     271
2  Location 2                0     686
3  Location 2                1     250
4  Location 3                0     733
5  Location 3                1     265
6  Location 4                0     737
7  Location 4                1     291
8  Location 5                0     688
9  Location 5                1     255

In [90]:
location_1 = df2[df2['location'] == 'Location 1']['checkout_status']
location_2 = df2[df2['location'] == 'Location 2']['checkout_status']
location_3 = df2[df2['location'] == 'Location 3']['checkout_status']
location_4 = df2[df2['location'] == 'Location 4']['checkout_status']
location_5 = df2[df2['location'] == 'Location 5']['checkout_status']

f_value, p_value = stats.f_oneway(location_1, location_2, location_3, location_4, location_5)

print("F-value: ", f_value)
print("p-value: ", p_value)

F-value:  0.3179110339868399
p-value:  0.8661518103433499

Group by Device, there is a noticeble difference on number of checked orders on different devices.

In [79]:
# Count checkout status by ldevice
checkout_counts2 = df2.groupby(['device', 'checkout_status']).size().reset_index(name='counts')

print(checkout_counts2)

    device  checkout_status  counts
0  Desktop                0    1802
1  Desktop                1     720
2   Mobile                0    1043
3   Mobile                1     374
4   Tablet                0     694
5   Tablet                1     238

Again Because the checkout_status is 0 or 1, so the mean value actually represent the check out rate by devices.  
Here it is obviously that the Desktop has the most checkout rate which is 28.5%.  
Mobile has the second checkout rate that is 26.4%.  
Tablet has the least checkout rate that is 25.5%.

In [64]:
df2.groupby('device')[['time_spent','pages_visited','cart_items','cart_value','checkout_status']].mean()

         time_spent  pages_visited  cart_items  cart_value  checkout_status
device
Desktop   25.501610       5.858842   14.892942  149.291967         0.285488
Mobile    24.637274       5.662668   15.144672  151.106486         0.263938
Tablet    25.093259       5.731760   14.919528  147.408498         0.255365

In [82]:
df_test2 = df2.groupby('device')[['time_spent','pages_visited','cart_items','cart_value','checkout_status']].mean()

In [97]:
df_test2

         time_spent  pages_visited  cart_items  cart_value  checkout_status
Desktop   25.501610       5.858842   14.892942  149.291967         0.285488
Mobile    24.637274       5.662668   15.144672  151.106486         0.263938
Tablet    25.093259       5.731760   14.919528  147.408498         0.255365

Here is a very low p-value 0.13 but not exactly statistically significant. But as an analyst I think it is still has reference and decision value

In [96]:
desktop = df2[df2['device'] == 'Desktop']['checkout_status']
mobile = df2[df2['device'] == 'Mobile']['checkout_status']
tablet = df2[df2['device'] == 'Tablet']['checkout_status']

f_value, p_value = stats.f_oneway(desktop, mobile, tablet)

print("F-value: ", f_value)
print("p-value: ", p_value)

F-value:  2.0099528432285965
p-value:  0.13410617948275005

In [98]:
df_test3 = df2.groupby('sessions')[['time_spent','pages_visited','cart_items','cart_value','checkout_status']].mean().sort_values('checkout_status', ascending=False)
df_test3

          time_spent  pages_visited  cart_items  cart_value  checkout_status
sessions
4          25.308181       5.858439   14.793103  148.414773         0.297641
5          24.821917       5.694882   15.253937  151.287500         0.291339
1          25.366761       5.742126   15.348425  153.117480         0.285433
2          25.799219       5.893654   15.036021  149.950395         0.276158
6          24.788506       5.762500   14.912500  148.866839         0.271429
7          25.274203       5.759850   14.968105  149.235141         0.270169
8          25.118284       5.774379   14.701721  146.427686         0.261950
3          25.094148       5.757576   15.032197  152.340284         0.261364
9          24.942995       5.738302   14.743501  146.025113         0.247834

Here is a very p-value 0.7 but not exactly statistically significant. But as an analyst I think it is still has reference and decision value

In [89]:
session_1 = df2[df2['sessions'] == 1]['checkout_status']
session_2 = df2[df2['sessions'] == 2]['checkout_status']
session_3 = df2[df2['sessions'] == 3]['checkout_status']
session_4 = df2[df2['sessions'] == 4]['checkout_status']
session_5 = df2[df2['sessions'] == 5]['checkout_status']
session_6 = df2[df2['sessions'] == 6]['checkout_status']
session_7 = df2[df2['sessions'] == 7]['checkout_status']
session_8 = df2[df2['sessions'] == 8]['checkout_status']
session_9 = df2[df2['sessions'] == 9]['checkout_status']

f_value, p_value = stats.f_oneway(session_1, session_2, session_3, session_4, session_5, session_6, session_7, session_8, session_9)

print("F-value: ", f_value)
print("p-value: ", p_value)

F-value:  0.6885414927194325
p-value:  0.7020858946233242