1. Analyze the results to determine which feature (if any) results in CTR or Time Spent lift.

2. Conduct statistical testing to determine if there is a statistically significant difference between the features and the control group.

3. Summarize your results. Make a recommendation to the engineering team about which feature to deploy.
 Grouped by location and device, there were no noticeable differences in the mean values of the Click-Through-Rate (CTR) and Average Time Spent between the variants.
 However, when comparing the variants as a whole, there was a statistically significant difference in the mean values for both CTR and Average Time Spent.
 
Recommendation:

 1.Based on the results, it is recommended to deploy either Variant A or Variant B since both performed better than the control group in terms of CTR and Average Time Spent.

 2.Variant A showed better results in both CTR and Average Time Spent compared to Variant B.

 3.Consider deploying Variant A, as it seems to have a more positive impact on user engagement.

 4.It is recommended to do further testing before making a final decision.

4. Create a roll-out plan. How quickly will you introduce the feature to your audience?

  1.Discuss the potential risks associated with the feature and the capacity of the engineering team to handle any issues that may arise.

  2.Introduce the feature gradually to a subset of the audience to mitigate risks and gather more data.

  3.Release the feature to a small percentage of users (e.g., 10-20%) who are randomly selected from different locations and devices. If the results continue to be positive and there are no significant issues, gradually increase the percentage of users who receive the feature.

  4.Continue monitoring the metrics and collecting feedback to ensure the feature performs well and meets the users' expectations.
  
  5.Adjust the roll-out speed based on the observed results and feedback from users and stakeholders.

In [41]:

import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [42]:
df = pd.read_csv(r"D:\5.MBAN6110 Data Science I\experiment_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Age         1000 non-null   int64
 2   Location    1000 non-null   object
 3   Device      1000 non-null   object
 4   Variant     1000 non-null   object
 5   Time Spent  1000 non-null   float64
 6   CTR         1000 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 54.8+ KB

In [43]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df['USER ID'] = range(1, len(df) + 1)

In [44]:
df.head()

   Age   Location   Device    Variant  Time Spent       CTR  USER ID
0   62  Location2  Device2    Control   13.928669  0.084776        1
1   18  Location1  Device1  Variant B   11.310518  0.096859        2
2   21  Location2  Device1  Variant B   24.842100  0.097630        3
3   21  Location1  Device3  Variant B   20.061300  0.109783        4
4   57  Location1  Device2  Variant B   34.495503  0.068579        5

Group by location, no noticeable difference on mean value. From ANOVA test the P value is more than 0.05. There is no statistically significant difference between them.

In [45]:
df.groupby('Location')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Location
Location1   22.707286  0.110217
Location2   22.648998  0.108517
Location3   22.787691  0.108708

In [46]:
L1_t = df[df['Location'] == 'Location1']['Time Spent']
L2_t = df[df['Location'] == 'Location2']['Time Spent']
L3_t = df[df['Location'] == 'Location3']['Time Spent']
p_val = stats.f_oneway(L1_t, L2_t, L3_t)
print(p_val)

F_onewayResult(statistic=0.053578839670573676, pvalue=0.9478339402848069)

In [47]:
L1_c = df[df['Location'] == 'Location1']['CTR']
L2_c = df[df['Location'] == 'Location2']['CTR']
L3_c = df[df['Location'] == 'Location3']['CTR']
p_val = stats.f_oneway(L1_c, L2_c, L3_c)
print(p_val)

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

Group by Device, no noticeable difference on mean value. From ANOVA test the P value is more than 0.05. There is no statistically significant difference between them.Group by device, no noticeable difference.

In [48]:
df.groupby('Device')[['Time Spent','CTR']].mean()

         Time Spent       CTR
Device
Device1   22.635032  0.109634
Device2   22.890021  0.109868
Device3   22.612276  0.107993

In [49]:
D1_t = df[df['Device'] == 'Device1']['Time Spent']
D2_t = df[df['Device'] == 'Device2']['Time Spent']
D3_t = df[df['Device'] == 'Device3']['Time Spent']
p_val = stats.f_oneway(D1_t, D2_t, D3_t)
print(p_val)

F_onewayResult(statistic=0.26645371811833884, pvalue=0.7661459958744103)

In [50]:
D1_c = df[df['Device'] == 'Device1']['CTR']
D2_c = df[df['Device'] == 'Device2']['CTR']
D3_c = df[df['Device'] == 'Device3']['CTR']
p_val = stats.f_oneway(D1_c, D2_c, D3_c)
print(p_val)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

Group by Variant, there is difference on mean value. P-value is less than 0.05. There is statistically significant difference between them.

In [51]:
df.groupby('Variant')[['Time Spent','CTR']].mean()

           Time Spent       CTR
Variant
Control     20.070781  0.098554
Variant A   24.805547  0.120269
Variant B   23.343783  0.108933

In [53]:
VA_t = df[df['Variant'] == 'Variant A']['Time Spent']
VB_t = df[df['Variant'] == 'Variant B']['Time Spent']
VC_t = df[df['Variant'] == 'Control']['Time Spent']
p_val = stats.f_oneway(VA_t, VB_t, VC_t)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [54]:
VA_c = df[df['Variant'] == 'Variant A']['CTR']
VB_c = df[df['Variant'] == 'Variant B']['CTR']
VC_c = df[df['Variant'] == 'Control']['CTR']
p_val = stats.f_oneway(VA_c, VB_c,VC_c)
print(p_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

Based on ANOVA, both Time Spent and CTR have statistically signfically results. So variant A, variant B and control group have different behaviours.

Then it is time to do independent t-test fot each variant compared to the control. Then variant A compares with variant B.

In [55]:
p_val_1 = stats.ttest_ind(VA_t, VC_t)
p_val_2 = stats.ttest_ind(VB_t, VC_t)
p_val_3 = stats.ttest_ind(VA_t, VB_t)
print(p_val_1)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.6788175394209075, pvalue=0.0002534771014765265)

In [57]:
df.groupby('Variant')[['Time Spent']].mean()

           Time Spent
Variant
Control     20.070781
Variant A   24.805547
Variant B   23.343783

The results about show that both Variant A and Variant B are statistically significantly different than the Control group. Both variants performed better for Time Spent. Variant A provides better data on Time Spent than Variant B.

In [56]:
p_val_1 = stats.ttest_ind(VA_c, VC_c)
p_val_2 = stats.ttest_ind(VB_c, VC_c)
p_val_3 = stats.ttest_ind(VA_c, VB_c)
print(p_val_1)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)

In [58]:
df.groupby('Variant')[['CTR']].mean()

                CTR
Variant
Control    0.098554
Variant A  0.120269
Variant B  0.108933

The results about show that both Variant A and Variant B result in statistically significantly CTR. Both variants performed better for CTR. Variant A provides better data on CTR than Variant B.